<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rice.lfcdemo.mapper.TimerTaskMapper">


    <resultMap id="taskMap" type="com.rice.lfcdemo.entity.TaskModel">
        <result column="task_id" property="taskId" />
        <result column="create_time" property="createTime"/>
        <result column="modify_time"  property="modifyTime"/>
        <result column="timer_id"  property="timerId"/>
        <result column="app"  property="app"/>
        <result column="output"  property="output"/>
        <result column="run_timer"  property="runTimer"/>
        <result column="cost_time"  property="costTime"/>
        <result column="status"  property="status"/>
    </resultMap>

    <insert id="batchSave" useGeneratedKeys="true">
        insert ignore into timer_task (`app`, `timer_id`, `output`, `run_timer`, `cost_time`, `status`)
        values
               <foreach collection="taskList" item="taskModel" separator=",">
                   (#{taskModel.app},#{taskModel.timerId},#{taskModel.output},#{taskModel.runTimer},#{taskModel.costTime},#{taskModel.status})
               </foreach>
    </insert>
    <update id="update">
        update timer_task
        <set>
            <if test="app != null">
                `app` = #{app},
            </if>
            <if test="timerId != null">
                `timer_id` = #{timerId},
            </if>
            <if test="output != null">
                `output` = #{output},
            </if>
            <if test="runTimer != null">
                `run_timer` = #{runTimer},
            </if>
            <if test="costTime != null">
                `cost_time` = #{costTime},
            </if>
            <if test="status != null">
                `status` = #{status},
            </if>
        </set>
        where task_id = #{taskId};
    </update>
    <select id="getTasksByTimeRange" resultMap="taskMap">
        select * from timer_task
        <where>
            <if test="startTime != null">
                and run_timer <![CDATA[>=]]> #{startTime}
            </if>
            <if test="endTime != null">
                and run_timer <![CDATA[<=]]> #{endTime}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>
    <select id="getTasksByTimerIdUnix" resultType="com.rice.lfcdemo.entity.TaskModel">
        select * from timer_task where timer_id = #{timerId} and run_timer = #{runTimer}
    </select>


</mapper>