<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rice.lfcdemo.mapper.TimerTaskMapper">

    
    <resultMap id="timer" type="com.rice.lfcdemo.entity.Xtimer">
        <result column="timer_id" property="timerId" />
        <result column="create_time" property="createTime"/>
        <result column="modify_time"  property="modifyTime"/>
        <result column="app"  property="app"/>
        <result column="name"  property="name"/>
        <result column="status"  property="status"/>
        <result column="cron"  property="cron"/>
        <result column="notify_http_param"  property="notifyHttpParam"/>
    </resultMap>

    <insert id="batchSave" useGeneratedKeys="true">
        insert ignore into timer_task (`app`, `timer_id`, `output`, `run_timer`, `cost_time`, `status`)
        values
               <foreach collection="taskList" item="taskModel" separator=",">
                   (#{taskModel.app},#{taskModel.timerId},#{taskModel.output},#{taskModel.runTimer},#{taskModel.costTime},#{taskModel.status})
               </foreach>
    </insert>


</mapper>