<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rice.lfcdemo.mapper.XtimerMapper">

    <resultMap id="timer" type="com.rice.lfcdemo.entity.Xtimer">
        <result column="timer_id" property="timerId"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time"  property="modifyTime"/>
        <result column="app"  property="app"/>
        <result column="name"  property="name"/>
        <result column="status"  property="status"/>
        <result column="cron"  property="cron"/>
        <result column="notify_http_param"  property="notifyHttpParam"/>
    </resultMap>

    <insert id="save" useGeneratedKeys="true" keyProperty="timerId">
        insert into xtimer (`app`, `name`, `status`, `cron`, `notify_http_param`)
        values (#{app},#{name},#{status},#{cron},#{notifyHttpParam});
    </insert>
    <update id="update">
        update xtimer
        <set>
            <if test="app != null">
                app = #{app},
            </if>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="cron != null">
                cron = #{cron},
            </if>
            <if test="notifyHttpParam != null">
                notify_http_param = #{notifyHttpParam}
            </if>
        </set>
    </update>
    <select id="getTimerById" resultMap="timer">
        select * from xtimer where timer_id = #{timerId}
    </select>
    <select id="getXtimerByStatus" resultMap="timer">
        select * from xtimer where status = #{status}
    </select>
</mapper>